<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JwtAuthForWebAPI" version="2.0.1-beta1" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.0-beta1" targetFramework="net45" />
</packages>