<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\WebApi2Book.Common\packages.config" />
  <repository path="..\src\WebApi2Book.Data.SqlServer\packages.config" />
  <repository path="..\src\WebApi2Book.Web.Api\packages.config" />
  <repository path="..\src\WebApi2Book.Web.Common\packages.config" />
</repositories>