<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\CreateJwt\packages.config" />
  <repository path="..\src\EFCommonContext\packages.config" />
  <repository path="..\src\WebApi2Book.Common.Tests\packages.config" />
  <repository path="..\src\WebApi2Book.Common\packages.config" />
  <repository path="..\src\WebApi2Book.Data.SqlServer.IntegrationTests\packages.config" />
  <repository path="..\src\WebApi2Book.Data.SqlServer\packages.config" />
  <repository path="..\src\WebApi2Book.Data.Tests\packages.config" />
  <repository path="..\src\WebApi2Book.Web.Api.IntegrationTests\packages.config" />
  <repository path="..\src\WebApi2Book.Web.Api.Models\packages.config" />
  <repository path="..\src\WebApi2Book.Web.Api.Tests\packages.config" />
  <repository path="..\src\WebApi2Book.Web.Api\packages.config" />
  <repository path="..\src\WebApi2Book.Web.Common.Tests\packages.config" />
  <repository path="..\src\WebApi2Book.Web.Common\packages.config" />
  <repository path="..\src\WebApi2Book.Windows.Legacy.Client\packages.config" />
  <repository path="..\src\WebApi2BookSPA\packages.config" />
</repositories>